@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using SensoStat.WebApplication.ViewModels
    @model SensoStat.WebApplication.ViewModels.SessionViewModel

    Dictionary<string, List<string>> planPresentation = new Dictionary<string, List<string>>();

    if (Model.Presentations != null)
    {
        List<string> listPanelist = new List<string>();

        foreach (var line in Model.Presentations)
        {
            if(!listPanelist.Any(p => p == line.CodePanelist))
            {
                listPanelist.Add(line.CodePanelist);
            }
        }

        foreach(var codePanelist in listPanelist)
        {
            List<string> ProductRanked = new List<string>();

            ProductRanked = Model.Presentations
                .Where(p => p.CodePanelist == codePanelist)
                .OrderBy(p => p.Rank)
                .Select(p => p.CodeProduct)
                .ToList();

            planPresentation.Add(codePanelist, ProductRanked);
        }
    }
}

<div class="p-3">
    <h2>Éditer une séance</h2>
    <hr />
        @if(TempData["success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["success"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <!-- div de gestion de la séance -->

        <input type="hidden" asp-for="IdPerson" value="@Model.IdPerson">
        <input type="hidden" asp-for="Etat" value="@Model.Etat">
        <section class="row">
            <div class="col-10">
                <!-- section du nom de la séance ainsi que sont status -->
                <form id="formSession" method="post" asp-controller="session" asp-action="edit">
                    <span class="mb-4 d-flex justify-content-between">
                        <div class="d-flex">
                            <label for="exampleInputEmail1" class="form-label h5 me-1 mt-2">Nom de la séance :</label>
                            <span class="">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Nom Séance" value="@Model.Name">
                            </span>
                        </div>
                        <div class="d-flex me-1 mt-2">
                            <label class="form-label h5">Statut :</label>
                            <span asp-for="Etat" type="text" class="h5 ms-1">@Model.Etat</span>
                        </div>
                    </span>
                    <p>Ajoutez vos instruction(s) / question(s) dans l'ordre chronologique du déroulé de la séance</p>
                    <!-- section du message d'accueil -->
                    <span class="mb-3 row">
                        <div class="col col-lg-2">
                            <label>Message d'accueil</label>
                        </div>
                        <div class="col-10">
                            <textarea asp-for="MsgAccueil" class="form-control" rows="1" oninput="auto_grow(this)" placeholder="ici doit être inscrit le message de début de séance !">@Model.MsgAccueil</textarea>
                        </div>
                    </span>
                    <!-- section qui ajoute des intruction / question -->
                    <span id="SpanInstru">
                        @foreach (var item in @Model.Instructions.Select((value, index) => new { value, index }))
                        {
                            if (@item.value.IsQuestion == 0)
                            {
                                <section class="mb-3 row SectionInstru" id="@item.index">
                                    <div class="col col-lg-2">
                                        <label for="Instruction">Instruction</label>
                                    </div>
                                    <div class="col-10 d-inline-flex">
                                        <input type="hidden" name="Types" value="Instruction">
                                        <textarea class="form-control" rows="1" name="Messages" oninput="auto_grow(this)" placeholder="ici doit etre inscrit le message  !">@item.value.Libelle</textarea>
                                        <i class="fas fa-times-circle text-danger h-100 w-5 ms-3" name="" onclick="deleteInput('@item.index')"></i>
                                    </div>
                                </section>
                            }
                            else
                            {
                                <section class="mb-3 row SectionInstru" id="@item.index">
                                    <div class="col col-lg-2">
                                        <label for="Question">Question</label>
                                    </div>
                                    <div class="col-10 d-inline-flex">
                                        <input type="hidden" name="Types" value="Question">
                                        <textarea class="form-control" rows="1" name="Messages" oninput="auto_grow(this)" placeholder="ici doit etre inscrit le message  !">@item.value.Libelle</textarea>
                                        <i class="fas fa-times-circle text-danger h-100 w-5 ms-3" name="" onclick="deleteInput('@item.index')"></i>
                                    </div>
                                </section>
                            }

                        }

                    </span>
                    <!-- section du message de fin -->
                    <span class="mb-3 row">
                        <div class="col col-lg-2">
                            <label>Message de fin</label>
                        </div>
                        <div class="col-10">
                            <textarea asp-for="MsgFinal" class="form-control" rows="1" oninput="auto_grow(this)" placeholder="ici doit être inscrit le message de fin de séance !">@Model.MsgFinal</textarea>
                        </div>
                    </span>
                </form>
                <!-- button d'ajout d'instruction / question -->
                <button class="btn btn-warning" type="button" onclick="addInstruction('Instruction')">Ajouter une instruction</button>
                <button class="btn btn-warning" type="button" onclick="addInstruction('Question')">Ajouter une question</button>
            </div>
            <!-- div contenant les button pour les fonctionnalité -->
            <div class="col-2 d-flex flex-column">
                <button class="btn btn-warning mb-2" type="button" data-bs-toggle="modal" data-bs-target="#ModalPlanPresentation">Importer un plan de présentation</button>
                <button class="btn btn-warning mb-2" type="button" data-bs-toggle="modal" data-bs-target="#DisplayPresentation">Visualiser le plan de présentation</button>
                @if (Model.Presentations.Count != 0)
                {
                    <button class="btn btn-warning mb-2" type="button">Tester</button>
                    <form id="publishForm" method="post" asp-controller="session" asp-action="publish" asp-route-id="@Model.Id">
                        <button form="publishForm" class="btn btn-warning mb-2 w-100" type="submit">Publier</button>
                    </form>
                }
                else
                {
                    <button class="btn btn-warning mb-2 text-muted" type="button" disabled>Tester</button>
                    <button class="btn btn-warning mb-2 text-muted" type="submit" disabled>Publier</button>
                }
                <button class="btn btn-warning mb-4" type="button" disabled style="color: grey;">Exporter les URL</button>
                <button class="btn btn-warning mb-4 w-100" form="formSession" type="submit">Enregistrer</button>
                <button class="btn btn-warning mb-2" type="button" data-bs-toggle="modal" data-bs-target="#SuppPublication" disabled style="color: grey;">Annuler la publication</button>
                <button class="btn btn-warning mb-2" type="button" data-bs-toggle="modal" data-bs-target="#SuppSeance">Supprimer la séance</button>
            </div>
        </section>

    </div>





    <!-- Modal Download du plan de présentation-->
    <div class="modal fade" id="ModalPlanPresentation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Veuillez sélectionner un fichier de plan de présentation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" method="post">
                        <dl>
                            <dt>
                                <label></label>
                            </dt>
                            <dd>
                                <input name="file" type="file">
                                @* <span asp-validation-for="FileUpload.FormFile"></span> *@
                            </dd>
                        </dl>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <input class="btn btn-primary" asp-controller="session" asp-action="LoadFile" asp-route-id="@Model.Id" type="submit" value="Importer" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Validation suppression séance-->
    <div class="modal fade" id="SuppSeance" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Supprimer la séance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes vous sûr de vouloir supprimer cette séance?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <form method="post" asp-controller="session" asp-action="delete" asp-route-id="@Model.Id">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Validation suppression publication-->
    <div class="modal fade" id="SuppPublication" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Annuler la publication de la séance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes vous sûr de vouloir annuler la publication de cette séance?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal visualistaion plan de présenation -->
    <div class="modal fade" id="DisplayPresentation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Plan de présentation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        @if (planPresentation.Count != 0)
                        {
                            <thead>
                                <tr>
                                    <th scope="col">Code sujet</th>

                                    @for (var i = 1; i < planPresentation.Values.First().Count + 1; i++)
                                    {
                                        <th class="text-center" scope="col">Rang @i</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in planPresentation.OrderBy(p => p.Key))
                                {
                                    <tr>
                                        <th scope="row">@line.Key</th>
                                        @foreach (var product in line.Value)
                                        {
                                            <td class="text-center">@product</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
