@model List<SensoStat.WebApplication.ViewModels.SessionViewModel>

<section class="p-5">
    <div class="row">
        <span class="col">
            <h2>Liste des séances actives</h2>
        </span>
        <span class="col text-end">
             <a class="btn btn-warning" asp-controller="session" asp-action="create">Nouvelle séance</a>
        </span>
    </div>
	<hr />
	<table class="table table-bordered table-striped table-hover">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Nom de la séance</th>
          <th class="text-center" scope="col">Date de dernière modification</th>
          <th class="text-center" scope="col">Statut</th>
          <th class="text-center" scope="col">% de réponse</th>
          <th class="text-center" scope="col">% de complétion</th>
          <th class="text-center" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

          @foreach (var session in @Model)
          {
            <tr>
                <td>@session.Name</td>
                <td class="text-center">@session.DateUpdate.ToString("dd/MM/yyyy à HH:mm")</td>
                <td class="text-center">@session.Etat</td>
                <td class="text-end">%</td>
                <td class="text-end">%</td>
                <td class="d-flex justify-content-center">
                    <a class="ms-1 me-1" asp-controller="Session" asp-action="Edit" asp-route-id="@session.Id"><i class="fas fa-edit"></i></a>
                    <a class="ms-1 me-1" asp-controller="Session" asp-action="ExportData" asp-route-id="@session.Id"><i class="fas fa-download me-1"></i></a>
                    <a class="ms-1 me-1" asp-controller="Session" asp-action="CloneSession"  data-bs-toggle="modal" data-bs-target="#CloneSeance" asp-route-id="@session.Id"><i class="far fa-clone"></i></a>
                    <form method="post" asp-controller="session" asp-action="archive" asp-route-id="@session.Id">
                        <button class="ms-1 me-1 btn btn-outline-primary btn-sm" type="submit"><i class="fas fa-archive"></i></button>
                    </form>
                </td>
            </tr>
          }
      </tbody>
    </table>
</section>



<!-- Modal Validation suppression séance-->
<div class="modal fade" id="CloneSeance" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">cloner la séance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes vous sûr de vouloir cloner cette séance?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Valider</button>
      </div>
    </div>
  </div>
</div>